# Core
opencv-python
numpy
tqdm
albumentations>=1.4.7

# Deep Learning (torch'u ayrı kuracağız)
segmentation-models-pytorch==0.3.3
timm==0.9.2

# Utils / Extras
pandas
matplotlib
tabulate
scikit-learn
